* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="button"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#room-options {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  
}

#room-options-inner {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

#room-options input[type="radio"] {
  display: none;
}

#room-options label {
  display: block;
  width: calc(100% / 3);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: lightgray; 
  cursor: pointer;
}

#room-options label:hover {
  background-color: gray;
}

#room-options input[type="radio"]:checked + label {
  background-color: #45a049;
  color: white;
}