<!DOCTYPE html>
<html>
<head>
    <title>Completion</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Task Completed!</h1>
    <p>Would you like to reserve another room?</p>
    <form action="{{ url_for('index') }}" method="get">
        <button type="submit">Yes</button>
    </form>
    <form action="{{ url_for('goodbye_screen') }}" method="get">
        <button type="submit">No</button>
    </form>
</body>
</html>